body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    width: 45vw;
    margin: 20px auto;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  label,
  input,
  textarea {
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #e74c3c;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

.hello{
  background-image: url(c1.jpg);
  background-size: cover;
}
